.voting-component {
    position: absolute;
    display: flex;
    flex-direction: column;
    cursor: move;
    box-sizing: border-box;
    border: 2px solid transparent;
    resize: none;
    padding: 10px;
    user-select: none;
    min-height: auto;
}
  
.voting-component:hover {
    border: 2px solid #000;
}

.voting-sub-component {
    flex: 2;
    margin: 10px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.voting-sub-component.selected {
    background-color: lightblue;
}





