.main-container {
    flex: 1;
    position: relative;
    background-color: #ddd;
    border: 1px solid #ddd;
    height: 100vh;
    overflow: auto;
  }

.content-page {
    position: relative;
    background-color: #fff;
    border: 1px solid #ddd;
    height: 100vh;
    width: 1080px;
    height: 720px;
    margin: auto;
}
  
  