.content-box {
    flex: 1;
    position: relative;


    background-color: #f4f4f4;
    border: 1px solid #ddd;
    height: calc(100vh - 62px);

    overflow: auto;
  }

.content-header {
  background-color: #fff;
}

.content-main {
  display: flex;

  width: calc(100% - 450px);
  padding-top: 30px;

}

.content-page {
    position: relative;

    background-color: white;

    border: 1px solid #ddd;
    height: 100vh;
    width: 1080px;
    height: 720px;
    margin: auto;


}

.page-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  align-items: center;
}

.page-box-ul {
  display: flex;
  list-style: none;
  width: max-content;
  border: 1px solid #c2c2c2;
  padding: 0;
  height: 100%;
  margin: 0;
  align-items: center;
}

.page-box-li {
  background-color: #fff;
  border: 1px solid #c2c2c2;
  min-width: 150px;
  height: 100%;
  padding: 0 15px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}  

.page-box-li.selected {
  background-color: #13da44;
  color: white;  


}

.page-add-box {
  background-color: #b0b1b0;
  color: white;  
  width: 150px;
  line-height: 40px;
  text-align: center;
  height: 100%;
  &:hover {
    background-color: rgb(117, 117, 117);
}

&:active {
    background-color: rgb(98, 214, 98); 
}

}

.page-menu-icon {
  cursor: pointer;
  margin-left: 8px;
}

.page-menu {
  position: absolute;
  top: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.page-menu-item {
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: black;
}

.page-menu-item:hover {
  background-color: #f0f0f0;
}

.add-page-button {
  cursor: pointer;
}



.page-popup {
  width: 100%;
  height: 100%;
  background-color: rgba(53, 53, 53, 0.2);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 500;
  color: black;
}

.page-popup-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: #fff;
  min-width: 320px;
  max-width: 500px;
  box-sizing: border-box;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid #e1e1e1;
  max-height: 90vh;
}

.page-popup-body {
  margin: 20px 0;
  padding: 0 20px;
}

.page-popup-body input {
  width: 100%;
}

.page-popup-tail {
  margin: 10px 0;
  display: flex;
  justify-content: space-evenly;
}


.inputField { 
  background-color: transparent;
  height: 40px;
  width: 145px;
  border: 2px solid rgba(0, 0, 0, 0.23);
  border-radius: 7px;
}
.inputField~span{
  background-color: white;
  position: absolute;
  top: 23px;
  left: 17px;
  z-index: -1;
  transition: all ease-in-out 0.5s;
}
.inputField:hover {
  border: 2px solid black;
}
.inputField:focus-visible  {
  outline: none!important;
  border: 2px solid #1976d2;
}
.inputField:focus ~ span {
  top : 12px;
  z-index: 1;
  font-size: 5px;
  transition: all ease-in-out 0.5s;
}

.Button {
  display: inline-flex;
  color: black;
  font-weight: bold;
  outline: none;
  border-radius: 10px;
  border: 2px solid rgb(201, 200, 200); 
  background-color: transparent; 
  cursor: pointer;

  line-height: 2.20rem;
  height: 2.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;

  &:hover {
      border-color: rgb(89, 199, 89); 
  }

  &:active {
      background-color: rgb(98, 214, 98); 
  }
}

